html,
body {
  height: 100%;
  background: linear-gradient(rgb(56, 56, 56), #ddd);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#chat {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#user {
  text-align: center;
  font: bold;
  font-size: 25px;
}

input {
  width: 600px;
  color: #fff;
  background: #069;
  border: 1px solid #ddd;
  border-radius: 30px;
  height: 50px;
  padding: 0 20px;
  font-size: 14px;
}

button {
  width: 600px;
  height: 50px;
  font-size: 14px;
  color: #069;
  background: #fff;
  border: 1px solid #069;
  border-radius: 10px;
  text-align: center;
  line-height: 50px;
  font-weight: bold;
  margin-top: 10px;
}

.messages {
  width: 600px;
  background: #fff;
  border-radius: 20px;
  height: 400px;
  margin: 20px 0;
  border: 2px solid #ddd;
  padding: 20px;
  overflow: auto;
}

select {
  width: 600px;
  height: 30px;
  font-size: 14px;
  border-radius: 7px;
  margin-top: 10px;
  text-align: center;
}

strong {
  color: #000014;
  font-size: 16px;
}

::placeholder {
  color: #b0bec5;
}
